.advantages__wrapper {
  padding-left: 20px;
  padding-right: 21px;
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  @media (min-width: @tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
}

.advantages__description {
  position: relative;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}
