.cat-example {
  background-color: @example-grey;
  padding-top: 27px;
}

.cat-example__list {
  display: flex;
  justify-content: space-between;
}

.cat-example__info {

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.cat-example__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;

  }
}

.cat-example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  margin: 0;
  padding-bottom: 33px;
}

.cat-example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  margin: 0;
  padding-bottom: 25px;
}

.cat-example__result {
  display: block;
  border: 1px solid @special-grey;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-align: center;
  padding-bottom: 17px;
  padding-top: 14px;
}

.cat-example__caption {
  display: block;
  background-color: @example-grey;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @special-dark-grey;
  margin-top: -10px;
}

.cat-example__spend {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  text-align: center;
  margin: 0;
}

.cat-example__item {
  display: flex;
  flex-direction: column;
}
