.catalog-promo {
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 61px;
}

.catalog-promo__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
}
