.catalog__list {
  list-style: none;
}

.catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special-dark-grey-2;
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__card-list {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;
}

.catalog__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  text-decoration: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 109px;
  padding-right: 109px;
}
