.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 68px;
  }
}

.catalog__image-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 36px;
  margin-top: 12px;

  @media (min-width: @tablet-width) {
    margin: 0;
    background-image: linear-gradient(@basic-white 0%, @basic-white 35%, @basic-grey 35%, @basic-grey 100%);
    margin-left: -39px;
    margin-right: -37px;
    padding-top: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -39px;
    margin-right: -32px;
  }
}

.catalog__image-wrapper--big {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 9px;
  margin-left: 28px;
  margin-right: -8px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: -40px;
    margin-right: -32px;
    margin-top: 0;
  }
}

.catalog__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 0;
  }
}

.catalog__card-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.catalog__card-list {
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-bottom: 57px;
  }
}

.catalog__list-wrapper {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-bottom: 0;
  border-top: 1px solid #ebebeb;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    background-color: @basic-grey;
    padding: 0;
    border-top: none;
    padding-left: 39px;
    padding-right: 37px;
    padding-bottom: 40px;
    margin-right: 0;
    margin-bottom: 140px;
    width: 324px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-bottom: 75px;
    margin-right: 0;
  }
}

.catalog__item:last-child {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: @tablet-width) {
    background-color: @basic-white;
    margin-bottom: 68px;
    border-bottom: none;
  }
}

.catalog__item:nth-last-child(2) {
  @media (min-width: @tablet-width) {
    margin-bottom: 68px;
  }
}

.catalog__item:nth-child(4n + 4) {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 13px;
  width: 76px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 174px;
    padding-left: 16px;
    margin-left: 29px;
    margin-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    width: 145px;
  }
}

.catalog__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @special-dark-grey-2;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.catalog__param {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__value {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: @special-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  text-decoration: none;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 109px;
  padding-right: 109px;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active {
    background-color: @basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 53px;
    padding-right: 53px;
  }
}
