.catalog-extra {
  @media (min-width: @tablet-width) {
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 2.8fr 1fr;
    padding-bottom: 70px;
  }
}

.catalog-extra__list {
  list-style: none;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 1px solid @special-grey;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}
