.checkbox {
  padding-top: 23px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    padding-top: 65px;
    padding-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 66px;
  }
}

.checkbox__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 62px;
  }
}

.checkbox__list {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.checkbox__option {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @basic-black;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
  }
}

.checkbox__option:last-child {
  margin-bottom: 0px;
}

.checkbox__input {
  margin: 0;
}
