.extra-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid #cdcdcd;
  padding-top: 14px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 25px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 37px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 24px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    align-items: baseline;
    padding-top: 15px;
  }
}

.extra-item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra-item__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: @special-dark-grey-2;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;
  margin-top: -1px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 27px;
  }
}

.extra-item__index {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @special-dark-grey;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    justify-content: none;
    padding-top: 5px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin-left: 25px;
    justify-content: none;
  }
}

.extra-item__value {
  margin: 0;
}

.extra-item__param {
  @media (min-width: @tablet-width) {
    margin-right: 51px;
  }
}

.extra-item__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 44px;
  padding-right: 44px;
  text-decoration: none;
  text-align: center;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active {
    background-color: @basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 7px;
  }

  @media (min-width: @desktop-width) {
    width: 244px;
    padding-top: 10px;
    padding-bottom: 7px;
    margin-left: auto;
  }
}
