.footer {
  background-color: @basic-grey;
  position: relative;
}

.footer__contacts {
  padding-bottom: 26px;
  padding-top: 28px;
  background-color: @basic-white;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-bottom: 57px;
    padding-top: 69px;
    padding-left: 41px;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    padding-bottom: 57px;
    padding-top: 59px;
    padding-left: 76px;
    padding-right: 70px;
    width: 570px;
    z-index: 3;
    justify-content: normal;
  }
}

.footer__contacts--catalog {
  background-color: @basic-grey;

  @media (min-width: @desktop-width) {
    background-color: @basic-white;
    padding-bottom: 56px;
  }
}

.footer__contacts--form {
  background-color: @basic-grey;

  @media (min-width: @tablet-width) {
    background-color: @basic-grey;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-white;
  }
}

.footer__invite-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 171px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 79px;
  }
}

.footer__invite {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-black;
  margin: 0;
  margin-bottom: 6px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    font-size: 20px;
    line-height: 23px;
    padding-right: 0;
    margin-top: 7px;
    margin-bottom: 0;
  }
}

.footer__invite-2 {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special-black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    font-size: 20px;
    line-height: 23px;
    padding-right: 0;
    margin-top: 2px;
  }
}

.footer__address-wrapper {
  margin: 0;
}

.footer__address {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;
  margin: 0;
  margin-bottom: -5px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 155px;
    margin-bottom: 15px;
    margin-top: -4px;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
    width: 155px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: left;
  }
}

.footer__city {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: @special-dark-grey;
    margin-left: 0;
  }
}

.footer__map {
  width: 100%;
  border: 0;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 400px;
  }
}

.footer__contacts-wrapper {
  background-color: @basic-white;

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.footer__contacts-wrapper--catalog {
  background-color: @basic-grey;
}

.footer__contacts-wrapper--form {
  background-color: @basic-grey;
}
