.form-program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-top: 48px;
  }
}

.form-program__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form-program__contacts-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 35px;


  @media (min-width: @tablet-width) {
    margin-top: 75px;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.form-program__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form-program__contacts-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-program__contacts-item:first-child {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form-program__contacts-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.form-program__contacts-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 16px;
  flex-grow: 2;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @tablet-width) {
    width: 486px;
  }
}

.form-program__comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form-program__comment-area {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;
  width: 100%;
  margin-right: 0;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    height: 174px;
    margin-bottom: 65px;
  }
}

.form-program__button-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form-program__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 44px;
  border: none;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 20px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 188px;
    padding-right: 188px;
    font-size: 20px;
    width: 568px;
  }
}

.form-program__legend {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
  text-align: center;
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    flex-grow: 2;
    padding-top: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}
