.form-program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
}

.form-program__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-black;
  text-transform: uppercase;
}

.form-program__info-list {
  list-style: none;
}

.form-program__goal-list {
  list-style: none;
}

.form-program__contacts-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
}

.form-program__contacts-list {
  list-style: none;
}

.form-program__contacts-item {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
}

.form-program__contacts-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
}

.form-program__comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
}

.form-program__comment-area {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
}

.form-program__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 44px;
  padding-right: 44px;
  border: none;
}

.form-program__legend {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
}
