.form-program__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  margin: 0;
  margin-top: 27px;
  margin-bottom: 37px;
}

.form-program__description {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-black;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
}

.form-program__contacts-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  margin: 0;
  margin-top: 26px;
}

.form-program__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 24px;
}

.form-program__contacts-item {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
}

.form-program__contacts-item:first-child {
  margin-bottom: 14px;
}

.form-program__contacts-input {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 16px;
}

.form-program__comment {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic-black;
  margin: 0;
  margin-bottom: 38px;
}

.form-program__comment-area {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 15px;
  padding-right: 12px;

  @media (min-width: @desktop-width) {
width: 100%;
  }
}

.form-program__button-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.form-program__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 44px;
  padding-right: 44px;
  border: none;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 20px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 13px;
      padding-bottom: 13px;
      padding-left: 188px;
      padding-right: 188px;
      font-size: 20px;
      }
}

.form-program__legend {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
  text-align: center;
}
