.goal {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 28px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: -10px;
    border: 1px solid @another-grey;
  }

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    right: -20px;
    top: 170px;
    border: 1px solid @another-grey;
  }

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 28px;
    border: 1px solid #e7e7e7;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    height: 196px;
  }
}

.goal__item {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.goal__item:last-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.goal__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey-2;
  text-transform: uppercase;
  margin-left: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.goal__radio {
  position: relative;
  width: 0;
  height: 0;
  clip: rect(0 0 0 0);
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/radiobutton.svg);
    width: 30px;
    height: 30px;
    top: -23px;
  }
}

.goal__radio:hover {
  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/radiobutton-hover.svg);
    width: 30px;
    height: 30px;
    top: -23px;
  }
}

.goal__radio:checked {
  &::after {
    content: "";
    position: absolute;
    background-image: url(../img/radiobutton-active.svg);
    width: 13.5px;
    height: 13.55px;
    top: -14.5px;
    left: 7.5px;
  }
}

.goal__radio:disabled + .goal__text {
opacity: 0.3;
}
