.goal {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 26px;
  position: relative;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin-left: -20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #e7e7e7;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    height: 196px;
    width: 568px;
  }
}

.goal__item {
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.goal__item:last-child {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.goal__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey-2;
  text-transform: uppercase;
  margin-left: 42px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 64px;
  }
}

.goal__radio {
  position: relative;
  width: 0;
  height: 0;
  clip: rect(0 0 0 0);
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/radiobutton.svg");
    width: 30px;
    height: 30px;
    top: -23px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/radiobutton-tablet.svg");
      width: 40px;
      height: 40px;
      top: -30px;
      left: 7px;
    }
  }
}

.goal__radio:hover {
  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/radiobutton-hover.svg");
    width: 30px;
    height: 30px;
    top: -23px;
  }

  @media (min-width: @tablet-width) {
    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/radiobutton-hover-tablet.svg");
      width: 40px;
      height: 40px;
      top: -30px;
      left: 7px;
    }
  }
}

.goal__radio:checked {
  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/radiobutton-active.svg");
    width: 13.5px;
    height: 13.55px;
    top: -14.5px;
    left: 7.5px;
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/radiobutton-active-tablet.svg");
      width: 17.98px;
      height: 18px;
      top: -19.5px;
      left: 18.5px;
    }
  }
}

.goal__radio:disabled + .goal__text {
  opacity: 0.3;
}

.goal__radio:focus::before {
  outline: 1px solid black;
}
