.info {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid @another-grey;

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    margin-right: 80px;
    border-bottom: none;
  }
}

.info__item {
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.info__item:last-child {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 69px;
  }
}

.info__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.info__input {
  padding-top: 13px;
  padding-bottom: 14px;
  padding-left: 16px;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  text-transform: uppercase;
  flex-grow: 2;
  border: 1px solid #e7e7e7;

  &:hover {
    outline: 1px solid #CDCDCD;
  }

  &:focus {
    outline: 2px solid #444444;
  }

  &:invalid {
    outline: 2px solid #FF8282;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
  }
}

.info__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
  }
}
