.main-nav {
  font-family: Oswald;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  background-color: @basic-white;

}
