.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: @basic-black;
}

.page__body {
  background-color: @basic-white;
  max-width: 320px;
  margin: auto;
}

.page__header {
  background-color: @basic-white;
  display: flex;
}
