.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: @basic-black;
  min-width: 320px;
}

.page__body {
  background-color: @basic-white;
  margin: auto;
}

.page__header {
  background-color: @basic-white;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
}

.page__catalog-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
}

.page__footer {
  background-color: @basic-grey;
}
