.page {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: @basic-black;
  min-width: 320px;
}

.page__body {
  background-color: @basic-white;
  margin: auto;
}

.page__catalog-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 33px;
    margin-bottom: 93px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 48px;
    margin-bottom: 94px;
  }
}
