.promo {
  text-align: center;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85) 63%, @basic-white 37%), url("../../img/index-background-mobile.jpg");
  background-repeat: no-repeat;
  color: @basic-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;


  @media (min-width: @tablet-width) {
    background: @basic-white;
    padding-top: 49px;
    margin-left: -19px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 185px;
  }
}

.promo__title {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: 106px;
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 53px;
    margin-left: 89px;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    margin-bottom: 49px;
    color: @basic-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: 107px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 51px;
    margin-left: 89px;
  }
}

.promo__button {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @basic-white;
  background-color: @basic-green;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 44px;
  padding-right: 44px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: -2px;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active {
    background-color: @basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    margin-left: 101px;
    width: 244px;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 20px;
    margin-top: -585px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-left: 89px;
  }
}

.promo__img {
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    margin-top: -29px;
    margin-left: 18px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 552px;
    height: 499px;
    top: 166px;
    left: 540px;
  }
}
