.slider__button {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  border: none;
  outline: none;
  background-color: @example-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    display: block;
  }
}

.slider__cats {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-left: 56px;
    padding-right: 62px;
    justify-content: space-between;
    margin-top: -7px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -300px;
  }
}

.slider {
  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 0;
  }
}

.slider__img {
  display: block;
  width: 300px;
  height: 232px;
  margin-left: 4px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: auto;
    width: 768px;
    height: 620px;
  }

  @media (min-width: @desktop-width) {
    height: 536px;
    margin-left: -768px;
    margin-top: -71px;
  }
}
